// VARIABLES

$basefont: Helvetica, Arial, sans-serif;
$color-primary: #f08100;

// MIXINS

@mixin border($size, $color) {
  border: $size solid $color;
}

@mixin cushion($padding, $margin) {
  padding: $padding;
  margin: $margin;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin tabletmin600 {
  @media screen and (min-width: 600px) {
    @content;
  }
}
@mixin tabletmin763 {
  @media screen and (min-width: 763px) {
    @content;
  }
}

@mixin tablet-landscapemin900 {
  @media screen and (min-width: 900px) {
    @content;
  }
}

body {
  font:
  {
    family: $basefont;
    size: 18px;
  }
  height: 100vh;
  background-image: url(../assets/img/bg-planets.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}

h1, h2, h3 {
  font-weight: normal;
  margin: .5rem 0 .5rem 0;
  color: $color-primary;
  @include tabletmin600 {
    margin: 1rem 0 .5rem 0;
    }
}

h1 {
  font-size: 2rem;
  @include tabletmin600 {
    font-size: 3rem;
    }
}

h2 {
  font-size: 1.5rem;
  @include tabletmin600 {
    font-size: 2rem;
    }
  }

p {
  font-size: 1rem;
  margin: 1rem 0 .5rem 0;
  color: $color-primary;
  line-height: 140%;
  :first {
    margin-top: 0;
  }
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 95%;
  margin: .5rem auto 1rem auto;
  @include tabletmin600 {
    width: 85%;
  }
  @include tablet-landscapemin900 {
    flex-flow: column nowrap;
    justify-content: center;
    width: 75%;
    max-width: 1000px;
    margin: 2rem auto 1rem auto;
  }
}

.form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  @include tabletmin600 {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
}

button, input {
  font:
  {
    family: $basefont;
    size: 1rem;
  }
  align-self: flex-start;
}

input {
  @include cushion(.25rem .5rem, 0 2rem 1rem 0);
  box-shadow: inset 2px 2px 8px #4d2e5f;
}

button {
  @include tabletmin763 {
    @include cushion(.5rem 2rem, 0 2rem 1rem 0);
  }
  @include cushion(.5rem 1.25rem, 0 1.25rem 1rem 0);
  text-transform: uppercase;
  letter-spacing: .1rem;
}

button#submit {
  background: #f08100;
  border-top: 1px solid #fdfcee;
  border-right:  1px solid #cd451b;
  border-bottom: 1px solid #760d1b; // #d53302;
  border-left: 1px solid #f8cd86;
}

button#reset {
  background: #a3bbc7;
  border-top: 1px solid lighten(#a3bbc7, 10%);
  border-right:  1px solid #53636f;
  border-bottom: 1px solid #354750; // #d53302;
  border-left: 1px solid (#a3bbc7, 20%);
}

.result {
  display: none;
  @include cushion(.25rem 1rem 1rem 1rem, 1rem 0);
  background: rgba(255, 255, 255, .8);
  box-shadow: 0 0 40px rgba(255, 255, 255, .8), 0 0 20px rgba(255, 255, 255, .7), 0 0 10px rgba(255, 255, 255, .6), 0 0 5px rgba(255, 255, 255, .5);
  border-radius: 8px;
  p {
    color: #43142a;
  }
  @include tabletmin600 {
    @include cushion(.25rem 1rem 1rem 1rem, 2rem 0);
  }
}
